.dotted{
    border-style: dotted;
    border-width: 2 px;
    border-color: orange;
}
.double{
    border-style: double;
    border-width: 4 px,2px,4px,2px;
    border-color: rgb(79, 53, 4);
}
.solid{
    border-style: solid;
    border-width: 6 px;
    border-color: rgb(5, 4, 3);
}
.ridge{
    border-style: ridge;
    border-width: 8 px;
    border-color: pink;
}
.groove{
    border-style: groove;
    border-width: 10 px;
    border-color: violet;
}
.dashed{
    border-style: dashed;
    border-width: 12 px;
    border-color: purple;
}
.inset{
    border-style: inset;
    border-width: 14 px;
    border-color: green;
}
.outset{
    border-style: outset;
    border-width: 16 px;
    border-color: lemonchiffon;
}
.none{
    border-style: none;
    border-width: 2 px;
    border-color: orange;
}
.hidden{
    border-style: hidden;
    border-width: 2 px;
    border-color: orange;
}